.container {
    font-size: 40px;
    width: 100%;
    background-color: lightgray;
    display: grid;
}

.d1 {
    background-color: LightCoral;
}

.d2 {
    background-color: LightBlue;
}

.d3 {
    background-color: LightGreen;
}

.d4 {
    background-color: LightPink;
}

.d5 {
    background-color: LightYellow;
}