.mobile-only {
    display: none;
    
}
.desktop-only {
    display: block;
    background-color: blue;
}

@media (max-width: 600px) {
    .mobile-only {
        display: block;
        background-color: red;
    }
    .desktop-only {
        display: none;
    }
}