div.box {
    background-color: blue;
    width: 100%;
}

@media (max-width: 800px) {
    div.box {
        width: 80%;
        margin: auto;
    }
}

@media (min-width: 1200px) {
    div.box {
        width: 50%;
        background-color: green;
    }
}